<h1 class="text-center">Painel de controle</h1>
<div class="container jumbotron">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ip-origem</th>
          <th scope="col">Ip-Destino</th>
          <th scope="col">Protocolo</th>
          <th scope="col">Porta</th>
          <th scope="col">entrada</th>
          <th scope="col">ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let packs of pack; let i = index">
          <th scope="row"></th>
          <td>{{packs.ipOrigem}}</td>
          <td>{{packs.ipDestino}}</td>
          <td>{{packs.protocolo}}</td>
          <td>{{packs.porta}}</td>
          <td>{{packs.entrada}}</td>
          <td>
            <button (click)="edit(i)" data-toggle="modal" data-target="#edit">edit</button>
              <!-- Modal -->
              <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form #idit = "ngForm" (ngSubmit)="onClickSubmit(idi)">
                          <div class="form-group">
                              <label for="ipOrigem">Ip origem</label>
                              <input type="text" class="form-control" id="ipOrigem" name="ipOrigem" ngModel>
                          </div>
                          <div class="form-group">
                              <label for="ipDestino">Ip destino</label>
                              <input type="text" class="form-control" id="ipDestino" name="ipDestino" ngModel>
                          </div>
                          <div class="form-group">
                              <label for="protocolo">Protocolo</label>
                              <input type="text" class="form-control" id="protocolo" name="protocolo" ngModel>
                          </div>
                          <div class="form-group">
                              <label for="porta">Porta</label>
                              <input type="text" class="form-control" id="porta" name="porta" ngModel>
                          </div>
                          <div class="form-group">
                              <label for="entrada">Entrada</label>
                              <input type="text" class="form-control" id="entrada" name="entrada" ngModel>
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary"  data-dismiss="modal" value="submit">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>

            <button (click)="del(i)">del</button>
          </td>
          <td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
      <div class="col-md-6 d-flex justify-content-start">
          <button class="btn btn-primary" data-toggle="modal" data-target="#add">Adicionar</button>
          <!-- Modal -->
          <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="ipOrigem">Ip origem</label>
                            <input type="text" class="form-control" id="ipOrigem">
                        </div>
                        <div class="form-group">
                            <label for="ipDestino">Ip destino</label>
                            <input type="text" class="form-control" id="ipDestino">
                        </div>
                        <div class="form-group">
                            <label for="protocolo">Protocolo</label>
                            <input type="text" class="form-control" id="protocolo">
                        </div>
                        <div class="form-group">
                            <label for="porta">Porta</label>
                            <input type="text" class="form-control" id="porta">
                        </div>
                        <div class="form-group">
                            <label for="entrada">Entrada</label>
                            <input type="text" class="form-control" id="entrada">
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="add()">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

    <div class="col-md-6 d-flex justify-content-end">
        <label class="btn btn-primary"><input hidden type="file" accept=".txt" (change) = "getFile($event)">Import</label>
        <button class="btn btn-primary ml-3 mr-3" (click) = "verifiacarPack()"> verificar </button>
        <button class="btn btn-primary" (click) = "export()">Export</button>
    </div>
    
  </div>
</div>